/vendor/
/node_modules/
/var/
/.env
/.env.local
/.env.*.local
/.phpunit.result.cache
/.phpunit.cache/
/.php-cs-fixer.cache
/.phpstan.cache/
/composer.phar
/public_html/assets/
/dist/
*.log
.DS_Store
.idea/
.vscode/
!.vscode/extensions.json
